@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;600;700;800&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
}
.box-area{
    width: 100%;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}